body {
  background-color: #de0079;
  padding: 0;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 1.25s linear;
  }
}

@keyframes logo-spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
